:root {
  font-family: Lexend, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  background-color: #f3f3f3ff;
}

*,
body {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 20px;
  place-items: center;
  min-width: 100%;
  width: 100%;
  min-height: 100vh;
}
